html {
    background: #f2f2f2;
}

body {
    margin: 60px auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

a,
a:focus,
a:visited {
    color: #d92310;
    text-decoration-thickness: 2px;
}

a:hover {
    color: #e87d3e;
}

.content {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 25px;
}

.content > img {
    display: block;
    margin: 25px auto;
    max-width: 95%;
    border-radius: 15px;
}

img.in-text {
    margin: 0 0 15px;
    max-width: 30%;
}

img.left {
    float: left;
    margin-right: 15px;
}

img.right {
    float: right;
    margin-left: 15px;
}

.book {
    position: relative;
    margin: 35px 0;
    padding: 0 0 0 125px;
}

.book img {
    position: absolute;
    top: 5px;
    left: 0;
}

.book h3,
.book .author {
    margin: 0;
}

.book .author {
    color: #888888;
    font-style: italic;
}

.book-alt {
    padding: 0 125px 0 0;
    text-align: right;
}

.book-alt img {
    left: auto;
    right: 0;
}
